<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hello</title>
    </head>
    <body>
        <p>Hello {{.name}}</p>
        <p>性别：{{.gender}}</p>
        <p>年龄：{{.age}}</p>
        <p>时间：{{FormatTime .time}}</p>
    </body>
</html>